{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >
    <title>
        {% block title %}Titan Web{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'companies/style.css' %}"
    >
</head>

<body>
    <header class="header">
        <div class="container header__content">
            <a class="logo" href="/">Titan Web</a>
            <a
                class="button button--secondary"
                href="{% url 'companies:dashboard' %}"
            >
                Подключение
            </a>
        </div>
    </header>

    <main class="container main">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message message--{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>