{% extends "companies/base.html" %}

{% block title %}
    Подключение — Titan Web
{% endblock %}

{% block content %}
<section class="connection-card">
    <h1>Подключение к TitanRetail</h1>

    <p class="page-description">
        Выберите режим работы и укажите ID компании.
        База RetailServer будет определена автоматически.
    </p>

    {% if error %}
        <div class="message message--error">
            {{ error }}
        </div>
    {% endif %}

    <form method="post" class="connection-form">
        {% csrf_token %}

        <div class="form-field">
            <label for="mode">
                Источник данных
            </label>

            <select id="mode" name="mode">
                <option
                    value="retail"
                    {% if selected_mode == "retail" %}
                        selected
                    {% endif %}
                >
                    RetailServer
                </option>

                <option
                    value="cash"
                    {% if selected_mode == "cash" %}
                        selected
                    {% endif %}
                >
                    Локальный CashServer
                </option>
            </select>
        </div>

        <div class="form-field">
            <label for="company_id">
                ID компании
            </label>

            <input
                id="company_id"
                type="text"
                name="company_id"
                value="{{ company_id }}"
                placeholder="Например: vial_1"
                required
                autofocus
            >
        </div>

        <button class="button" type="submit">
            Подключиться
        </button>
    </form>

    <div class="connection-hint">
        <strong>Автоматический выбор базы:</strong>

        <p>
            ID с 1 по 9 в начале направляется
            в RetailServer1–RetailServer9.
            Остальные ID — в RetailServer.</br>
            При подключении к CashServer -
            любой ID
        </p>
    </div>
</section>
{% endblock %}