DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

MONGO_URI=mongodb://user:password@host:27017/?authSource=admin
MONGO_DB_NAME=titan_database
MONGO_COLLECTION_SEPARATOR=